jobs:
  ci:
    runs-on: self-hosted

    steps:
      - uses: actions/checkout@v3

      - name: Set up venv
        run: |
          python3 -m venv venv
          source venv/bin/activate

      - name: Install dependencies
        run: |
          source venv/bin/activate
          pip install -r requirements.txt

      - name: Syntax check
        run: |
          source venv/bin/activate
          python -m py_compile app.py
