name: CI Pipeline

on:
  push:
    branches: [main]

jobs:
  ci:
    runs-on: self-hosted

    steps:
      - uses: actions/checkout@v3

      - name: Python version
        run: python3 --version

      - name: Install dependencies
        run: pip install -r requirements.txt

      - name: Syntax check
        run: python -m py_compile app.py
